<h1>Edit User</h1>
<form action="/users/<%= @user.id %>" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="name" value="<%= @user.name %>"/>
    <input type="submit" value="Edit User">
    <input type="hidden" name="_method" value="PUT">
</form>