<% content_for :left_column do %>

<h1>All Users</h1>

<table>
    
        <th>First Name</th>
        <th>Last Name</th>
        <th>Favorite Language </th>
    
    <% @users.each do |x| %>
        <tr>
            <td><%= x.first_name %></td>
            <td><%= x.last_name %></td>
            <td><%= x.favorite_language %></td>
        </tr>
    <% end %>
    
    
</table>

<% end %>
<% content_for :right_column do %>

    <h1>New User</h1>
    
    <form action="/users/create" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <h3><label for="first_name">First Name</label></h3>
    <p>
    <input type="text" name="user[first_name]"></p>
    <br>
    <h3><label for="last_name">Last Name</label></h3>
    <p>
    <input type="text" name="user[last_name]"></p>
    <br>
    <h3><label for="favorite_language">Favorite Language</label></h3>
    <p>
    <input type="text" name="user[favorite_language]"></p>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <a href="/"><button type="button" class="btn btn-info">All Posts</button></a>
    
<% end %>
    
    

