<h1>New User</h1>

<form action="" method="POST">
<h3><label for="first_name">First Name</label></h3>
<p>
<input type="text" name="first_name"></p>
<br>
<h3><label for="last_name">Last Name</label></h3>
<p>
<input type="text" name="last_name"></p>
<br>
<h3><label for="favorite_language">Favorite Language</label></h3>
<p>
<input type="text" name="favorite_language"></p>

<button type="button" class="btn btn-primary">Submit</button>
<button type="button" class="btn btn-info">All Posts</button>
</form>

